header {
	position   : fixed;
	display    : flex;
	flex-wrap  : wrap;
	width      : 100%;
	top        : 0;
	padding    : 30px 0px;
	z-index    : 100;
	align-items: center;

	&.active {
		background-image: linear-gradient(to bottom, rgba(27, 32, 33, 3), rgba(255, 255, 255, 0));
	}

	.left-menu {
		padding-right: 15px;
		padding-left : 15px;
		display      : flex;
		flex         : 0 0 33.333%;
	}

	.center-menu {
		position : absolute;
		left     : 50%;
		top      : 50%;
		transform: translate(-50%, -50%);

		a {
			display    : flex;
			align-items: center;

			svg {
				width       : 24px;
				margin-right: 10px;

				path,
				circle {
					stroke: $main-color-1;
				}
			}
		}

		span {
			font-family   : 'Anton', sans-serif;
			color         : $main-color-3;
			font-weight   : 700;
			font-size     : 20px;
			letter-spacing: 2px;
			font-weight   : 700;
		}
	}

	.login {
		padding-right: 15px;
		padding-left : 15px;
		margin-left  : auto;
		align-self   : center;

		span {
			font-family   : 'Anton', sans-serif;
			color         : $main-color-3;
			font-weight   : 700;
			font-size     : 20px;
			letter-spacing: 2px;
			font-weight   : 700;
		}
	}
}