$main-color-1: #ffd800;
// MÀU BACKGROUND MAIN
$main-color-2: #1a1d1e;
// MÀU CHỮ
$main-color-3: #fafafa;
// MÀU BODY
$main-color-4: #0d0f0f;

// font title
// font-family: 'Ubuntu', sans-serif;

// font banner
// font-family: 'Saira Stencil One', cursive;

body {
	font-family          : 'K2D', sans-serif;
	display              : grid;
	grid-template-columns: 100%;
	justify-content      : center;
	background           : $main-color-4;
	color                : $main-color-3;
}

.bg-main {
	background: $main-color-2;
}

::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-2;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: $main-color-2;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-1;
}