$main-color-1: #ffd800;
$main-color-2: #1b2021;
$main-color-3: #fafafa;

// font title
// font-family: 'Ubuntu', sans-serif;

body {
	font-family          : 'K2D', sans-serif;
	display              : grid;
	grid-template-columns: 100%;
	justify-content      : center;
	background           : $main-color-2;
	color                : $main-color-3;
}