extends _layout/_layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/banner/b-1.pug
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestias ad architecto blanditiis! Vero perferendis explicabo, consequuntur corporis iusto eius optio harum veritatis doloremque earum! Numquam libero aliquid molestias rem!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.