section.home-banner
		.container
			.banner-wrapper
				.swpier-container.slider-Homebanner
					.swiper-wrapper
						.swiper-slide
							.box-banner
								figure
									img(src="./img/banner/b-1.png", alt="", srcset="")
									figcaption
										.type-of-event
											h5
												span A . Event
												| | Thể loại sự kiện
											//- Backup data lấy type event
											span Âm nhạc
										.name-event
											h5 SỰ KIỆN ÂM NHẠC SƠN TÙNG.
										.decription-event
											p SÔI ĐỘNG HẤP DẪN ĐẾN TỪNG TIẾT MỤC
											p 9.9.2019 | 21:00 - SÂN VẬN ĐỘNG QUÂN KHU 7
						.swiper-slide
							.box-banner
								figure
									img(src="./img/banner/b-2.png", alt="", srcset="")
									figcaption
										.type-of-event
											h5
												span A . Event
												| | Thể loại sự kiện
											//- Backup data lấy type event
											span Âm nhạc
										.name-event
											h5 SỰ KIỆN ÂM NHẠC SƠN TÙNG.
										.decription-event
											p SÔI ĐỘNG HẤP DẪN ĐẾN TỪNG TIẾT MỤC
											p 9.9.2019 | 21:00 - SÂN VẬN ĐỘNG QUÂN KHU 7
						.swiper-slide
							.box-banner
								figure
									img(src="./img/banner/b-3.png", alt="", srcset="")
									figcaption
										.type-of-event
											h5
												span A . Event
												| | Thể loại sự kiện
											//- Backup data lấy type event
											span Âm nhạc
										.name-event
											h5 SỰ KIỆN ÂM NHẠC SƠN TÙNG.
										.decription-event
											p SÔI ĐỘNG HẤP DẪN ĐẾN TỪNG TIẾT MỤC
											p 9.9.2019 | 21:00 - SÂN VẬN ĐỘNG QUÂN KHU 7
