section.home-banner
	.swpier-container.slider-Homebanner
		.swiper-wrapper
			.swiper-slide
				.box-banner
					figure
						video(autoplay loop muted)
							source(src="./videos/video-banner-01.mp4")
						figcaption
							p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita vel officia voluptas laudantium eaque sunt quo voluptatibus et numquam aliquid delectus, temporibus ipsa voluptatum voluptate repellendus dignissimos. Porro, illum.
			.swiper-slide
				.box-banner
					figure
						video(autoplay loop muted)
							source(src="./videos/video-banner-02.mp4")