section.home-banner
	.swpier-container.slider-Homebanner
		.swiper-wrapper
			.swiper-slide
				.box-banner
					video(autoplay loop muted)
						source(src="./videos/video-banner-01.mp4")
			.swiper-slide
				.box-banner
					video(autoplay loop muted)
						source(src="./videos/video-banner-02.mp4")